@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #1e2842;
  transition: all 0.5s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide {
  to {
    transform: translateX(-50%);
  }
}

.big-slide:before,
.big-slide:after {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  content: "";
  z-index: 2;
}

.big-slide:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #1e2842);
}

.big-slide:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #1e2842);
}

.work-slide {
  animation: slide 20s infinite linear;
}

.big-slide:hover .work-slide {
  animation-play-state: paused;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.01),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.37);
}

.skills-bar::-webkit-scrollbar {
  width: 0.5vw;
}

.skills-bar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.493);
  border-radius: 5px;
}

.skills-bar::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.skills-bar::-webkit-scrollbar-track {
  background-color: rgb(51 65 85 0.5);
  border-radius: 5px;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
